.wrapper {
    margin: 50px;
    padding: 50px;
    border: 3px solid black;
    width: 500px;
}

.formNames, .formValues {
    display: inline-block;
}

.formNames {
    width: 150px;
}

label {
    display: inline-block;
    width: 170px;
}